<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\RequestAQuote\Api\QuoteRepositoryInterface" type="Magento\RequestAQuote\Model\QuoteRepository" />
    <preference for="Magento\RequestAQuote\Api\Data\QuoteInterface" type="Magento\RequestAQuote\Model\Quote" />
</config>
